html {
    scroll-behavior: smooth;
}

:root {
    --color-fondo-principal: #f4f7f6;
    --color-fondo-secundario: #ffffff;
    --color-texto-oscuro: #2d3436;
    --color-texto-claro: #636e72;
    --color-primario: #0984e3;
    --color-acento: #00cec9;
    --color-borde: #dfe6e9;
    --fuente-cuerpo: 'Roboto', sans-serif;
}

body {
    font-family: var(--fuente-cuerpo);
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-oscuro);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.4s ease, color 0.4s ease; /* anima transición entre modo oscuro y claro */
}

header {
    background-color: var(--color-fondo-secundario);
    padding: 1rem 5%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 

}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
} 

.nav-list li {
    margin-left: 25px;
} 

.nav-list a {
    text-decoration: none;
    color: var(--color-texto-oscuro);
    font-weight: 700;
    transition: color 0.3s ease;
    cursor: pointer;
} 

.nav-list a:hover {
    color: var(--color-primario);
}

section {
    padding: 80px 5%;
    background-color: var(--color-fondo-secundario);
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-borde);
    scroll-margin-top: 80px;
}

h1, h2, h3 {
    color: var(--color-primario);
    font-weight: 700;
}

ul {
    list-style-type: square;
    color: var(--color-texto-claro);
}

.inicio img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    background-color: var(--color-borde);
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
}

footer {
    background-color: var(--color-texto-oscuro);
    color: var(--color-fondo-secundario);
    text-align: center;
    padding: 40px 0;
    font-size: 0.9rem;
}

.boton-contacto {
    border: 2px solid var(--color-primario);
    padding: 8px 16px;
    border-radius: 25px;
    color: var(--color-primario);
}




/* Modo oscuro */

body.modo-oscuro {
    --color-fondo-principal: #121212;
    --color-fondo-secundario: #1e1e1e;
    --color-texto-oscuro: #f4f7f6;
    --color-texto-claro: #b2bec3;
    --color-primario: #74b9ff; 
    --color-borde: #333;
}


.alternar-tema {
    background: var(--color-borde);
    border: 2px solid var(--color-primario);
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 15px;
    font-size: 1.1rem;
    outline: none;
}

.alternar-tema:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--color-primario);
}


@media (max-width: 992px) {
    header {
        text-align: center;
        position: static;
        padding: 1rem 0;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        padding: 0;
        border-top: 1px solid var(--color-borde);
        padding-top: 20px;
        width: 100%;
    }
    
    .nav-list li {
        margin: 10px 0;
    }
    .alternar-tema {
        margin-left: 0;
        margin-top: 10px;
    }
    
    section {
        padding: 40px 5%;
    }
    .inicio, .habilidades {
    display: flex;
    flex-direction: column;
